
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #e0d5e5, #cf7cc4);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ede), to(#d7c));
  background-image: -webkit-linear-gradient(top, #ede, #d7c);
}

