
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #edc1ce, #c65b79);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcd), to(#c68));
  background-image: -webkit-linear-gradient(top, #fcd, #c68);
}

