
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #fafccd, #d5c862);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc), to(#dc6));
  background-image: -webkit-linear-gradient(top, #ffc, #dc6);
}

