
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #f3cbc1, #582919);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdc), to(#632));
  background-image: -webkit-linear-gradient(top, #fdc, #632);
}

