
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #f8d6d7, #d2858b);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdd), to(#d88));
  background-image: -webkit-linear-gradient(top, #fdd, #d88);
}

