
html {
   min-height: 100%;
}

body {
  background-image: -moz-linear-gradient(top, #ecd419, #b8561e);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fd1), to(#b52));
  background-image: -webkit-linear-gradient(top, #fd1, #b52);
}

